* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    font-style: normal;
    box-sizing: border-box;
}

/* 
    Checkout
    Succes
*/
body {
    width: 1280px;
}

/*  Success */


/* Header */
.headSucces {
    background-color: #000000 ;
    height: 40px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; 
    /* gap: 100px; */
}

.mainSucces, .mainOneSucces {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-content: center;
    width: 1280px; 
    
} 


.mainSucces {
    width: 1280px;
    display: flex;
    flex-direction: column; 
    padding-bottom: 20px;

}



.iconSucces {
    display: flex;
    justify-content: center;
    padding: 15px;
    /* gap: 8px;
    border-radius: 20px; */
}
.pedidoExito {
    color: #2A5B45;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.pedido12387 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 346px;
    align-self: center;
    height: 48px;
    text-align: center;
}

.mainpedidoSucces {
    width: 1200px;
    /* height: 391px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 24px;
    background-color: #F7F5F3;
    padding: 24px;
    border-radius: 10px;
    
}

.tuPedido {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
}

.losNaranjos {
    width: 1152px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    /* height: 56px; */
}

.losNaranjos>p {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    /* width: 84px; */
    padding-left: 90px;
}

.imgColombCoffe img {
   width: 50px;
    height: 45px;
}
.imgColombCoffe {
    display: flex;
    flex-direction: row;    
    gap: 24px;

}

.succesDetail {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 16px;
    color: #000000;
    

}

.succesDetail p:nth-last-of-type(1) {
    font-weight: 400;
    font-size: 10px;
}

.succesDetail p:nth-last-of-type(2) {
    font-weight: 600;
    font-size: 14px;
}
.detailSucces {
    width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hrSucces {
    width: 1152px;
    height: 2px;
    background-color: #E3DED7;   
}

.subtotalSucces {
    width: 1152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #000000;

}
.totalSuccesIva {
    display: flex;
    flex-direction: column;
    width: 107px;
    gap: 8px;
}

.totalSuccesIva p:nth-last-of-type(2) {
    width: 108px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    padding-left: 55px;

}

.totalSuccesIva p:nth-last-of-type(1) {
    width: 108px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
}

.btnVolverTienda {
    width: 168px;
    height: 40px;
    background-color: #2A5B45;
    padding: 12px 24px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    padding: 12px 24px;
    gap: 8px;

}

.btnVolverTienda a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    
}

.succesVolverTienda {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
}



/* Checkout */

.btnPagarCheckout {
    background-color: #2A5B45;
    width: 196px;
    height: 40px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    
} 
.titleCheckout {
    text-align: center;
    color: #2A5B45; 
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

}
.mainCheckout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 24px;
    flex-wrap:wrap;

} 
.mainCheck {
    width: 100%; 
    display: flex;
    flex-direction: row;
    gap: 24px;
    
} 
.mainChec {
    width: 90%;
    display: flex;
    flex-direction: column; 
    /* gap: 24px; */
    padding: 8px;
} 
.seleccionaCheck {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; 
    padding: 8px;
} 
.debitoCheck, .medioCheck {
    display: flex;
    flex-direction: row; 
    width: 80%;
    gap: 16px;
    padding: 8px;
} 
.medioCheck {
    padding-top: 20px;
}
.inputChec{
    accent-color: #2A5B45 ;
} 
.paraCh, .transferenciaCheck {
    display: flex;
    flex-direction: column;
    /* gap: 4px;  */
    width: 90%; 
    padding-right: 40px;
} 
.paraCh p, .transferenciaCheck p {
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    color:#000000; 
} 

.debitoCheck .opcion {
    font-size: 10px; 
    font-weight:200;
}
.paraGratisCheck, .para9Check {
    filter: blur(var(--value, 1rem));
} 
.titularCheck {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    padding: 8px; 
    width: 38%;
    padding-bottom: 20px;
} 
.nameTitular, .numeroTarjetaCheck, .fechaCaducidadCheck {
    display: flex;
    flex-direction: column;
    gap: 3px; 
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 16px; 

} 
.fechaCaducidadCheck {
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* width: 50%; */
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;


} 
.hrCheckout, .hrCheckoutUno {
    width: 90%;
    height: 2px;
    padding-left: 8px;
    background-color: #E3DED7;
}
.bizumCheck {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px ;
   /* align-items: center; */
} 
.bizum {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 70%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
} 
.imgBizum {
    width: 60px;
    height: 25px;
} 
.envioCheck {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px;
}  

.addressCheck {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    padding-left: 8px;
} 
.addressUno, .addressDos, 
.addressTres, .addressCuatro, 
.addressCinco {
    display: flex;
    flex-direction: column;
    width: 100%; 
    font-size: 12px;
    font-weight: 400; 
    line-height: 16px; 
    color: #000000; 
    gap: 3px;
}
input {
    border: #D1D5DB 2px solid;
    border-radius: 4px;
     
} 
.addressSeis {
    display: flex; 
    flex-direction: row;
    gap: 24px; 
    font-size: 12px; 
    line-height: 16px; 
    font-weight: 400;
    color: #000000;
} 
.poblCheck, .cpCheck {
    display: flex;
    flex-direction: column; 
    gap: 3px; 
    width: 50%;
} 
.addressSiete {
    display: flex;
    flex-direction: row; 
    gap: 10px;

} 
.calle, .numero, .piso, .puerta { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 3px; */
    /* width: 30%; */
    
} 
.calle input,
.numero input,
.piso input,
.puerta input {
    width: 100%;
} 

input {
    padding: 10px; 
/* PouwKiteColorLiViniAvelPorDefectoA */
    outline: none;
}
input:hover { 
    border: 2px solid #9B9EA3;
} 
input:focus {
    border: 2px solid #2A5B45;}